<!DOCTYPE html>
<html ng-app="optionModule">
<head>
	<meta charset="utf-8">
	<title>{{messages.extActionTitle}} - {{messages.optionTitle}}</title>
	<link rel="stylesheet" href="css/option.css">
	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/angular-resource.min.js"></script>
</head>
<body ng-controller="MainCtrl">
	<div id="optionContainer">
		<div class="header">
			<i class="logo"></i>
			<span>{{messages.extActionTitle}} - {{messages.optionTitle}}</span>
		</div>
		<ul class="option-list">
			<li class="option" ng-controller="FeedManagementCtrl">
				<div class="option-title">{{messages.optionFeedManagementTitle}}</div>
				<div class="option-content">
					<div class="feed-info" ng-repeat="item in feedList">
						<input class="title" type="text" ng-model="item.title" ng-change="updateFeed(item)"> -
						<input class="url" type="url" ng-model="item.url" ng-change="updateFeed(item)">
						<button ng-click="removeFeed(item)">{{messages.operationRemoveStr}}</button>
					</div>
					<hr>
					<br>	
					<div class="feed-info">
						<input class="title" type="text" placeholder="title (ex: JZLIN'S Blog)" ng-model="feedTemp.title"> -
						<input class="url" type="url" placeholder="url (ex: http://jzlin-blog.logdown.com/posts.atom)" ng-model="feedTemp.url">
						<button ng-click="addFeed(feedTemp)">{{messages.operationAddStr}}</button>
					</div>
				</div>
			</li>
			<li class="option" ng-controller="AnnouncerSettingCtrl">
				<div class="option-title">{{messages.optionAnnouncerSettingTitle}}</div>
				<div class="option-content">
						<div class="ctrl_wrap">
							<span class="title">{{messages.optionAnnouncerVoiceTitle}}: </span>
							<select class="ctrl" ng-model="myVoice" ng-options="voice.voiceName for voice in voices" ng-change="updateAnnouncerSetting()">
							</select>
							<span class="value"></span>
						</div>

						<div class="ctrl_wrap">
							<span class="title">{{messages.optionAnnouncerRateTitle}}: </span>
							<input type="range" class="ctrl" min="0.5" max="2.0" step="0.1" ng-model="myRate" ng-change="updateAnnouncerSetting()">
							<span class="value">{{myRate}}</span>
						</div>

						<div class="ctrl_wrap">
							<span class="title">{{messages.optionAnnouncerPitchTitle}}: </span>
							<input type="range" class="ctrl" min="0.5" max="1.5" step="0.1" ng-model="myPitch" ng-change="updateAnnouncerSetting()">
							<span class="value">{{myPitch}}</span>
						</div>

						<div class="ctrl_wrap">
							<span class="title">{{messages.optionAnnouncerVolumeTitle}}: </span>
							<input type="range" class="ctrl" min="0.0" max="1.0" step="0.1" ng-model="myVolume" ng-change="updateAnnouncerSetting()">
							<span class="value">{{myVolume}}</span>
						</div>

						<div class="ctrl_wrap">
							<button ng-click="testSpeech()">{{messages.optionAnnouncerTestSpeechTitle}}</button>
							<button ng-click="setDefaults()">{{messages.optionAnnouncerDefaultsTitle}}</button>
						</div>

				</div>
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="js/option.js"></script>
</body>
</html>