<!DOCTYPE html>
<html ng-app="feedModule">
<head>
	<title>Article List</title>
	<link rel="stylesheet" href="css/popup.css">
	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/angular-resource.min.js"></script>
</head>
<body ng-controller="FeedCtrl">
	<div id="popupContainer">
		<div class="toolbar">
			<button>setting</button>
		</div>
		<hr>
		<div ng-repeat="feed in feeds | orderBy:'title'">
			<h2><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h2>
			<p><span ng-repeat="item in feed.entries">
				<a href="{{item.link}}" target="_blank">{{item.title}}</a> (<span>{{item.publishedDate | date:'d-MM-yyyy HH:mm'}}</span>)<br />
			</span></p>
		</div>
	</div>
	<script type="text/javascript" src="js/popup.js"></script>
</body>
</html>