body {
	margin: 0px;
	padding: 0px;
}

#popupContainer {
	margin: 0px;
	padding: 20px;
	width: 360px;
	height: 280px;
	overflow: auto;
}

ul.article-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
}

ul.article-list li.article {
	margin: 0px;
	padding: 10px;
	background-color: #eee;
	border: 1px dashed #ddd;
	margin-bottom: 15px;
	border-radius: 2px;
	position: relative;
}

li.article h3.article-title {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

li.article h3.article-title a {
	color: #555;
	line-height: 1.5em;
	text-decoration: none;
}

li.article h3.article-title a:hover {
	color: #f80;
}

ul.article-list .control-bar {
}

.control-bar .control {
}
