$primary-color: #f80;
$primary-bg-color: #eee;
$primary-font-color: #555;

@mixin linkColor($color) {
	color: $color;
	&:hover, &:active, &:focus {
		color: lighten($color, 20%);
	}
}

body 
{
	margin: 0px;
	padding: 0px;
	font-family: "微軟正黑體", "Lucida Sans Unicode", "Lucida Grande", "Arial Narrow", sans-serif;
	color: $primary-font-color;
	background-color: $primary-bg-color;
	word-break: break-word;
	cursor: default;
	-webkit-user-select: none;
}

a {
	@include linkColor($primary-font-color);
	text-decoration: none;
}

#popupContainer 
{
	margin: 0px;
	padding: 20px;
	width: 360px;
	min-height: 280px;
	max-height: 480px;
	overflow: auto;
}

.toolbar 
{
	margin: 0px;
	padding: 0px;
	height: 30px;
	.setting {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 5px;
		padding: 0px;
		background-image: url('../images/setting.svg');
		background-size: contain;
		cursor: pointer;
		opacity: 0.5;
		&:hover {
			opacity: 1;
			border-radius: 3px;
		}
	}
}

.feed {
	border: 1px dashed #ddd;
	margin-bottom: 20px;
	h3 {
		background-color: lighten($primary-color, 20%);
		margin: 0px;
		padding: 5px 0px 5px 10px;
	}
}

.feed-item-list {
}

.feed-item {
	margin-top: 15px;
	padding: 5px 10px;
	&:hover {
		background-color: white;
	}
	a.titile {
		font-size: 14px;
	}
	span.time {
		font-size: 12px;
		color: lighten($primary-font-color, 50%);
	}
}


